<div class="carousel">
  <div class="items">
    <ul>
      <li>
        <div class="testimonial">
          <h3>Craze is awesome. I just love it.</h3>
          <span class="author">Lara Croft</span>
        </div>
      </li>
      <li>
        <div class="testimonial">
          <h3>My life got easier after I used Craze.</h3>
          <span class="author">James Bond</span>
        </div>
      </li>
      <li>
        <div class="testimonial">
          <h3>Craze is one of the most complete app packages I have ever come across. I would highly recommend it to anyone!</h3>
          <span class="author">Sarah Hunt</span>
        </div>
      </li>
    </ul>
  </div>
</div>
