<div id="header">
  <div class="bg"></div>
  <div class="content">
    <div class="title">
      <h1>Craze</h1>
      <h3>A great new free psd theme to showcase your new app.</h3>

      <div class="buttons">
        <button class="app-button">
          <i class="fa fa-apple fa-2x" aria-hidden="true"></i>
        </button>
        <button class="app-button">
          <i class="fa fa-android fa-2x" aria-hidden="true"></i>
        </button>
        <button class="app-button">
          <i class="fa fa-windows fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="iphone">
      <img src="assets/hand.png" width="500px" height="auto" alt="Hand with iphone" />
    </div>
  </div>
</div>
