<div id="footer">
  <div class="links">
    <div class="link">
      <a href="#">Contact</a>
    </div>
    <div class="link">
      <a href="#">Download</a>
    </div>
    <div class="link">
      <a href="#">Press</a>
    </div>
    <div class="link">
      <a href="#">Email</a>
    </div>
    <div class="link">
      <a href="#">Support</a>
    </div>
    <div class="link">
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
