<div id="features">
  <div class="container">
    <h2>Craze Features</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum turpis libero, maximus in magna nec, commodo aliquam libero. Fusce nec volutpat sapien. Pellentesque mollis libero in.</p>
    <div class="grid">
      <div class="row">
        <div class="col">
          <img src="assets/computer.png" width="42" height="auto" alt="Computer Icon" />
          <h3>Flat Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit.</p>
          <div class="gap" id="gap0"></div>
        </div>
        <div class="col">
          <img src="assets/target.png" width="42" height="auto" alt="Target Icon" />
          <h3>Marketable</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit.</p>
        </div>
        <div class="col">
          <img src="assets/picture.png" width="42" height="auto" alt="Picture Icon" />
          <h3>Edit Photos</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit.</p>
          <div class="gap" id="gap1"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="assets/watercolor.png" width="42" height="auto" alt="Watercolor Icon" />
          <h3>Edit Colors</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit.</p>
        </div>
        <div class="col">
          <img src="assets/man.png" width="42" height="auto" alt="Man Icon" />
          <h3>User Friendly</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit.</p>
          <div class="gap" id="gap2"></div>
          <div class="gap" id="gap3"></div>
        </div>
        <div class="col">
          <img src="assets/cog.png" width="42" height="auto" alt="Cog Icon" />
          <h3>100% Editable</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
