<div id="social">
  <h2>Say Hi & Get in Touch</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <div class="medias">
    <div class="media">
      <button class="twitter">
        <i class="fa fa-twitter fa-2x"></i>
      </button>
    </div>
    <div class="media">
      <button class="facebook">
        <i class="fa fa-facebook fa-2x"></i>
      </button>
    </div>
    <div class="media">
      <button class="pinterest">
        <i class="fa fa-pinterest fa-2x"></i>
      </button>
    </div>
    <div class="media">
      <button class="plus">
        <i class="fa fa-google-plus fa-2x"></i>
      </button>
    </div>
    <div class="media">
      <button class="linkedin">
        <i class="fa fa-linkedin fa-2x"></i>
      </button>
    </div>
    <div class="media">
      <button class="youtube">
        <i class="fa fa-youtube fa-2x"></i>
      </button>
    </div>
  </div>
</div>
