<div id="pricing">
  <div class="gray"></div>
  <div class="content">
    <h2>What's Craze all About?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat sem non porta pharetra. Nulla dictum purus sed erat pulvinar, id eleifend lectus laoreet. Sed.</p>
    <div class="features">

      <div class="feature">
        <div class="header">
          <h1>Basic</h1>
        </div>
        <div class="price">
          <div class="dolars">
            <h1>$19</h1>
          </div>
          <div class="cents">
            <h2>99</h2>
          </div>
        </div>
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
        </ul>
        <div class="action">
          <button>Purchase</button>
        </div>
      </div>

      <div class="feature">
        <div class="header">
          <h1>Standard</h1>
        </div>
        <div class="price">
          <div class="dolars">
            <h1>$39</h1>
          </div>
          <div class="cents">
            <h2>99</h2>
          </div>
        </div>
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
        </ul>
        <div class="action">
          <button>Purchase</button>
        </div>
      </div>

      <div class="feature">
        <div class="header">
          <h1>Deluxe</h1>
        </div>
        <div class="price">
          <div class="dolars">
            <h1>$59</h1>
          </div>
          <div class="cents">
            <h2>99</h2>
          </div>
        </div>
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
          <li>Feature 6</li>
        </ul>
        <div class="action">
          <button>Purchase</button>
        </div>
      </div>

      <div class="feature">
        <div class="header">
          <h1>Unlimited</h1>
        </div>
        <div class="price">
          <div class="dolars">
            <h1>$79</h1>
          </div>
          <div class="cents">
            <h2>99</h2>
          </div>
        </div>
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
        </ul>
        <div class="action">
          <button>Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>
